Source: ros-kinetic-kvh-geo-fog-3d-msgs
Section: misc
Priority: optional
Maintainer: Trevor Bostic <tbostic@mitre.org>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin, ros-kinetic-message-generation, ros-kinetic-std-msgs
Homepage: 
Standards-Version: 3.9.2

Package: ros-kinetic-kvh-geo-fog-3d-msgs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-message-runtime, ros-kinetic-std-msgs
Description: kvh_geo_fog_3d_msgs contains raw messages for the KVH GEO FOG 3D INS devices.
