Source: ros-melodic-kvh-geo-fog-3d
Section: misc
Priority: optional
Maintainer: Zach LaCelle <zlacelle@mitre.org>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-catkin
Homepage: 
Standards-Version: 3.9.2

Package: ros-melodic-kvh-geo-fog-3d
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-melodic-kvh-geo-fog-3d-driver, ros-melodic-kvh-geo-fog-3d-msgs, ros-melodic-kvh-geo-fog-3d-rviz
Description: Provides a driver node for KVH GEO FOG 3D INS sensors, messages, and rviz plugins.
