Source: ros-kinetic-kvh-geo-fog-3d-rviz
Section: misc
Priority: optional
Maintainer: Zach LaCelle <zlacelle@mitre.org>
Build-Depends: debhelper (>= 9.0.0), libqt5multimedia5-plugins, libqt5svg5-dev, qtbase5-dev, qtdeclarative5-dev, qtmultimedia5-dev, ros-kinetic-catkin, ros-kinetic-kvh-geo-fog-3d-msgs, ros-kinetic-roslint, ros-kinetic-rviz
Homepage: 
Standards-Version: 3.9.2

Package: ros-kinetic-kvh-geo-fog-3d-rviz
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-kvh-geo-fog-3d-msgs, ros-kinetic-rviz
Description: The KVH GEO FOG 3D rviz plugin package
